.clear {
   clear: both;
 }

 .single-footer-widget h1 {
   color: white;
   font-size: 55px;
 }

 .single-footer-widget h1 span {
   font-size: 16px;
 }

 .logo-sun {
   width: 40px;
   height: 40px;
   float: left;
   margin-right: 5px;
 }

 .lang-img {
   width: 40px;
   height: 40px;
 }

 .menu-item,
 .menu-open-button {
   background: #fff;
   border-radius: 100%;
   width: 60px;
   height: 60px;
   margin-left: -40px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 57px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }

 .menu-open {
   display: none;
 }

 .lines {
   width: 25px;
   height: 3px;
   background: #596778;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
 }

 .line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
 }

 .line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

 .line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
 }

 .menu-open:checked+.menu-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
 }

 .menu-open:checked+.menu-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
 }

 .menu-open:checked+.menu-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
 }

 .menu {
   display: BLOCK;
   position: fixed;
   z-index: 99;
   margin: auto;
   top: 40px;
   right: 5px;
   width: 80px;
   height: 80px;
   text-align: center;
   box-sizing: border-box;
   font-size: 26px;
 }


 /* .menu-item {
    transition: all 0.1s ease 0s;
 } */

 .menu-item:hover {
   background: #F7D358;
   color: #3290B1;
 }

 .menu-item:nth-child(3) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
 }

 .menu-item:nth-child(4) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
 }

 .menu-item:nth-child(5) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
 }

 .menu-item:nth-child(6) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
 }

 .menu-item:nth-child(7) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
 }

 .menu-item:nth-child(8) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
 }

 .menu-item:nth-child(9) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
 }

 .menu-open-button {
   z-index: 2;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 }

 .menu-open-button:hover {
   -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }

 .menu-open:checked+.menu-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 }

 .menu-open:checked~.menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }

 .menu-open:checked~.menu-item:nth-child(3) {
   transition-duration: 180ms;
   -webkit-transition-duration: 180ms;
   -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
   transform: translate3d(-116.91639px, 77.00003px, 0);
 }

 .menu-open:checked~.menu-item:nth-child(4) {
   transition-duration: 280ms;
   -webkit-transition-duration: 280ms;
   -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
   transform: translate3d(-51.0534px, 77.00003px, 0);
 }

 .menu-open:checked~.menu-item:nth-child(5) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
   transform: translate3d(15.9466px, 77.00003px, 0);
 }

 .blue {
   background-color: #fff;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .blue:hover {
   color: #669AE1;
   text-shadow: none;
 }

 .green {
   background-color: #70CC72;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .green:hover {
   color: #70CC72;
   text-shadow: none;
 }

 .red {
   background-color: #FE4365;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .red:hover {
   color: #FE4365;
   text-shadow: none;
 }

 .purple {
   background-color: #C49CDE;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .purple:hover {
   color: #C49CDE;
   text-shadow: none;
 }

 .orange {
   background-color: #fff;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .orange:hover {
   color: #FC913A;
   text-shadow: none;
 }

 .lightblue {
   background-color: #fff;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .lightblue:hover {
   color: #62C2E4;
   text-shadow: none;
 }

 .credit {
   margin: 24px 20px 120px 0;
   text-align: right;
   color: #EEEEEE;
 }

 .credit a {
   padding: 8px 0;
   color: #C49CDE;
   text-decoration: none;
   transition: all 0.3s ease 0s;
 }

 .credit a:hover {
   text-decoration: underline;
 }


 /*button load to top*/

 #button {
   display: inline-block;
   background-color: #FF9800;
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 4px;
   position: fixed;
   bottom: 30px;
   right: 17px;
   transition: background-color .3s, opacity .5s, visibility .5s;
   opacity: 0;
   visibility: hidden;
   z-index: 1000;
 }

 #button::after {
   content: "\f077";
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   font-size: 2em;
   line-height: 50px;
   color: #fff;
 }

 #button:hover {
   cursor: pointer;
   background-color: #333;
 }

 #button:active {
   background-color: #555;
 }

 #button.show {
   opacity: 1;
   visibility: visible;
 }


 /*loader while loading page*/

 .loader:after {
   width: 10em;
   height: 10em;
 }

 .loader {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background: url(../img/loader1.gif) center no-repeat #fff;
 }

 @-webkit-keyframes load8 {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }

 @keyframes load8 {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }

 #loadingDiv {
   position: absolute;
   ;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
 }

 .body-form {
   margin-bottom: 300px;
   margin-right: 30%;
 }

 .justify-content-center {
   margin-bottom: 120px;
 }

 .input {
   width: 50%;
   float: left;
   padding-left: 10px;
 }

 .input span {
   width: 10%;
   height: 34px;
   float: left;
 }

 .input span i {
   font-size: 20px;
 }

 .input-textarea {
   margin-left: 10px !important;
   width: 96% !important;
 }

 .input-inf {
   width: 85% !important;
   height: 43px;
 }

 .input select {
   height: 34px !important;
   width: 95%;
 }

 .datetime {
   padding-left: 0 !important;
 }

 .datetime-input {
   width: 25em !important;
 }

 .setting {
   margin-bottom: 15px;
 }

 .setting div input {
   margin-bottom: 0 !important;
   width: 85% !important;
 }

 .input-group.date {
   display: inline-flex;
 }

 .setting div span {
   width: 5% !important;
   text-align: left;
 }

 .setting div button {
   text-align: left;
 }

 .add-button {
   float: left;
   margin-top: 5px;
 }

 .hidden-button {
   margin-top: 5px;
   position: absolute;
   left: 80px;
   float: left;
   display: none;
 }

 .option-button {
   border: 1px solid #ccc;
   border-radius: 15px;
   width: 30px;
   height: 30px;
   font-size: 18px;
   text-align: center;
   line-height: 30px;
 }

 .rotate {
   -moz-transition: all .2s linear;
   -webkit-transition: all .2s linear;
   transition: all .2s linear;
 }

 .rotate.down {
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   transform: rotate(45deg);
 }

 .single-footer-widget h1 {
   margin-top: 0 !important;
 }

 .tagify {
   height: 150px !important;
 }

 .switch-button {
     float: left;
     width: 50%;
 }

 .checkbox {
    /*float: left;*/
    text-align: left;
}

.panel-checkbox {
   display: none;
   float: left;
}
.form-check {
   text-align: left;
}
.form-check-input {
   width: 20px !important;
}
.form-check-label {
   padding-left: 30px !important;
   font-weight: 100;
}

.link-edit {
   width: 100% !important;
}

.link-edit span {
   width: 15%;
}

.key-span {
   position: absolute;
   left: 234px;
   top: 0;
   font-size: 15px;
}

.link-edit2 {
  position: relative;
}

.justify-content-center {
  margin-bottom: 0;
}

.text-center2 {
  min-height: 40em !important;
}

.owl-stage {
  margin-left: 10em;
}

.item2 img{
  margin-left: 5em !important;
}
